# Python
.venv/
__pycache__/
*.py[cod]

# Logs
*.log
run.log

# Secrets / local config
.env
.env.*
!.env.example

# Données brutes : on ignore tout...
data/raw/*
!data/raw/.gitkeep
# ... sauf le fichier de démo fourni au recruteur
!data/raw/sample_releves_mensuelles.csv

# dbt : artefacts générés
dbt/**/target/
dbt/**/logs/
dbt/**/dbt_packages/
dbt/**/.user.yml

# IDE / OS (optionnel mais propre)
.vscode/
.idea/
.DS_Store
Thumbs.db

# Docker override local (optionnel)
docker-compose.override.yml
