.venv/
__pycache__/
*.pyc
run.log

# Données perso : on ignore tout...
data/raw/*.csv
dbt/energyops/dbt/taget
dbt/energyops/dbt/logs
dbt/energyops/.user.yml
# ... sauf le fichier de démo fourni au recruteur
!data/raw/sample_releves_mensuelles.csv
